/*Common styling for slider*/
input[type=range] {
  -webkit-appearance: none;  /* Override default CSS styles */
  width: 50%; /* Full-width */
  height: 25px; /* Specified height */
  background: none; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  transition: opacity .2s;  
}

/* Mouse-over effects */
input[type=range]:hover {
  opacity: 1; /* Fully shown on mouse-over */
}


#up-arrow {
  position: absolute;
  left: 900px;
  top: 275px;
}

h1 {
  text-align: center;
}


#down-arrow {
  position: absolute;
  left: 900px;
  top: 400px;
}

#j1base {
  position: absolute;
  left: 200px;
  top: 298px;
}

#button-arrow {
  position:absolute;
  left: 750px;
  top: 325px; 
}




