/*Common styling for slider*/
input[type=range] {
    -webkit-appearance: none;  /* Override default CSS styles */
    width: 30%; /* Full-width */
    height: 25px; /* Specified height */
    background: none; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    transition: opacity .2s;  
}

/* Mouse-over effects */
input[type=range]:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

#bot-stream {
  position: relative;
  margin-left: 5vw;
  border-radius: 5px;
  border-color: black;
}

#up-arrow {
  position: relative;
  left: 10px;
  top: 30px;
  color: black
}


#up1-arrow {
  position: relative;
  left: 30px;
  top: 27.5px;

}

#down1-arrow {
  position: relative;
  left: 30px;
  top: 45px;

}

#left-arrow {
  position: relative;
  left: 20px;
  top: 35.75px;

}

#right-arrow {
  position: relative;
  left: 40px;
  top: 35.75px;

}

h1 {
  text-align: center;
}


#down-arrow {
  position: relative;
  left: 10px;
  top: 80px;
}

#j1base {
  left: 450px;
  top: 298px;
}

#button1-arrow {
  position: relative;
  left: 95px;
  top: 0; 
}

#slider {
  position: relative;
  rotate: 270deg;
  left: 110px;
  top: 42.5px;
}

#slider-value {
  position: relative;
  left: 150px;
  top: 35px;

}

#grabber {
  background-color: blue;
}

#page {
  display: flex;
  flex-direction: column;
}

#app-row {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
}

body {
  background-color: white;
}