/*Common styling for slider*/
input[type=range] {
    -webkit-appearance: none;  /* Override default CSS styles */
    width: 30%; /* Full-width */
    height: 25px; /* Specified height */
    background: none; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    transition: opacity .2s;  
}

/* Mouse-over effects */
input[type=range]:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

#bot-stream {
  margin-left: 20vw;

}

#up-arrow {
  position: absolute;
  left: 1150px;
  top: 275px;
}

h1 {
  text-align: center;
}


#down-arrow {
  position: absolute;
  left: 1150px;
  top: 400px;
}

#j1base {
  position: absolute;
  left: 450px;
  top: 298px;
}

#button1-arrow {
  position:absolute;
  left: 950px;
  top: 325px; 
}

#slider {

  position:absolute;
  rotate: 270deg;
  left: 1100px;
  top: 425px;
}

#slider-value {

  position:absolute;
  left: 1500px;
  top: 350px;

}

